<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style></style>
    <meta charset="utf-8">
    <title>Natural Remedies</title>
  </head>
  <body>
    <h1> Natural Remedies: Flu</h1>
    <a href="#"><img src="https://images.unsplash.com/photo-1604450655696-bdb0b1993bf7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="A cup of steaming lemon tea"></a>
  <div>
    <h3> Lemon tea recipe </h3>
    <p>Ingredients:</p>
    <ul>
        <li>1 cup of boiling hot water</li>
        <li>1 lemon</li>
        <li>1 teaspoon of honey</li>
        <li>1/2 teaspoon of ginger powder</li>
  </div>

  </body>
</html>